{:source-paths ["main/src/"
                "main/test"]
 :dependencies [[aero "1.1.6"]
                [dda/data-test "0.1.1"]]
 :builds       {:app {:target    :node-script
                      :output-to "target/config-commons.js"
                      :main      dda.config.commons.core/helloworld
                      :compiler-options {:optimizations :simple}}}}
